[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jonghoonseo
[access "refs/for/refs/*"]
	read = group user/jonghoonseo
	push = group user/jonghoonseo
	label-Code-Review = -2..+2 group user/jonghoonseo
	label-Verified = -1..+1 group user/jonghoonseo
	rebase = group user/jonghoonseo
	removeReviewer = group user/jonghoonseo
	submit = group user/jonghoonseo
[access "refs/heads/*"]
	read = group user/jonghoonseo
	create = group user/jonghoonseo
	push = +force group user/jonghoonseo
	pushMerge = group user/jonghoonseo
[access "refs/tags/*"]
	push = group user/jonghoonseo
	push = +force group user/jonghoonseo
